.route {
	width: 0;
	height: calc(1em + 15px);
}

.page {
	/* Positioning */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;

	/* Style */
	opacity: 0;
	transition: opacity 0.2s linear;
}

.route:target > .page {
	opacity: 1;
	z-index: 15;
}

.widget {
	display: inline-block;

	border-top: 3px solid #30A9F1;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 5px 10px 5px 10px;

	font-family: sans-serif;
}

.widget.hi {
	position: absolute;
	top: 20vh;
	right: 10vw;
}

.widget.content {
	position: absolute;
	top: 20vh;
	left: calc(8vw + 105px + 8vw);
	right: calc(8vw + 105px);

	padding-bottom: 10px;
}

a.navitem {
	/* Positioning */
	z-index: 20;
	position: relative;
	top: 43vh;
	left: 8vw;
	width: 105px;
	display: block;

	/* Style */
	background-color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
	text-transform: uppercase;
	font-family: BebasNeueRegular, impact;
	font-weight: bold;
	font-size: 20px;
}

a.navitem:visited {
	color: inherit;
}

.navlabel {
	/* Style */
	padding: 4px 0 4px 5px;

	/* Fix white flickering caused by color being transitioned */
	border-right: 0 solid #30A9F1;

	/* Animations */
	transition: border-right 0.1s;
}

.navlabel:hover, .route:target .navlabel {
	/* Display blue bar next to nav entry in currently opened page */
	border-right: 2px solid #30A9F1;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;

	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

	transition: opacity 0.2s linear;
}

.route:target .background {
	opacity: 1;
}

.raster, .raster:after {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.raster:after {
	content: '';
	background: url('../images/raster.png') repeat top left;
}
