#fencing-banner-image {
	background-image: url(/static/images/fencing_banner.jpg);
	height: 100%;
	padding-left: 28%;
	margin-right: 1vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/*
#fencer .container .center {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */
