@media (orientation: landscape) {
	body {
		padding-left: calc(50% - 450px);
	}

	.name {
		padding-top: calc((100vh - 500px) / 2);
		margin-top: 190px;
	}

	.page {
		padding-left: calc(50% - 450px);
		padding-right: calc(50% - 450px);
		padding-top: calc((100vh - 500px) / 2);
		margin-left: 400px;
	}

	.navitem {
		padding-top: calc((100vh - 500px) / 2);
		padding-bottom: 0;
		margin-top: 270px;
	}

	.portrait {
		display: none;
	}

	#home .logo {
		margin-top: -20px;
	}
}

@media (orientation: portrait) {
	body {
		padding-left: calc(50% - 150px);
	}

	.page {
		padding-left: calc(50% - 150px);
		padding-right: calc(50% - 150px);
		padding-top: calc(50vh - 110px);
		width: 300px;
		height: 300px;

		font-size: 20px;
	}

	.name {
		padding-top: calc(50vh - 235px);
	}

	.navitem {
		padding-top: calc(50vh - 155px);
	}

	.route:first-child {
		margin-left: 30px;
	}

	.landscape {
		display: none;
	}
}
