#researcher .bracket {
	position: relative;
}

#researcher .bracket span {
	position: absolute;
	top: 0;

	font-size: 500px;
	color: transparent;
	background-color: white;
}

#researcher .cols {
	flex-grow: 1;
}

#researcher .cols .text {
	height: calc(45% - 1px);
	text-align: center;
}

#researcher .cols .text:last-child {
	padding-bottom: 50px;
}

#researcher .bar {
	width: 100%;
	height: 1px;
	background-color: #111;
}

#researcher li {
	padding-top: 0.1em;
}
