.name {
	font-size: 90px;
	text-transform: uppercase;

	position: absolute;
	top: 40vh;
	left: 6vw;
	margin: 0 0 10px 0;
}

.name a {
	text-decoration: none;
}

#home .logo {
	width: 500px;
	height: 500px;
	background-color: #111;
	text-align: center;
	overflow: hidden;
}

#home .logo span {
	position: relative;
	top: -112px;
	font-size: 717px;
	color: white;
}
