.name {
	font-size: 90px;
	text-transform: uppercase;

	position: absolute;
	top: 40vh;
	padding-left: calc(50vw - 425px);
	margin: 0 0 10px 0;
}

.name a {
	text-decoration: none;
}

#home .logo {
	width: 500px;
	height: 500px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	overflow: hidden;
}

#home .logo span {
	position: relative;
	top: -112px;
	font-size: 717px;
	color: white;
}
