@media (orientation: landscape) {
	body {
		padding-left: calc(50% - 450px);
	}

	.name {
		padding-top: calc((100vh - 500px) / 2);
		margin-top: 190px;
	}

	.page {
		padding-left: calc(50% - 450px);
		padding-right: calc(50% - 450px);
		padding-top: calc((100vh - 500px) / 2);
		margin-left: 400px;
	}

	.navitem {
		padding-top: calc((100vh - 500px) / 2);
		padding-bottom: 0;
		margin-top: 270px;
	}
}

@media (orientation: portrait) {
	body {
		padding-left: calc(50% - 150px);
	}

	.name {
		top: 1vh;
	}

	.page {
		padding-left: calc(50% - 150px);
		padding-right: calc(50% - 150px);
		padding-top: calc(1vh + 85px + 50px);
		width: 300px;
		height: 300px;
	}

	.page svg {
		display: none;
	}

	.navitem a {
		top: calc(1vh + 80px);
	}

	.route:first-child {
		margin-left: 30px;
	}
}
